<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <html lang="en-US">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{{{title}}}</title>
        <meta name="description" content='{{{description}}}'>
        <meta name="author" content='{{{author}}}'>
        <meta name="keywords" content='{{{keywords}}}'>
        <link href="URL" rel="canonical"> 
            
        <link rel="stylesheet" href="../style.css">
    </head>
    <body>
        {{{nav}}}

        <div class="cool-header">

        </div>
        <div class="cool-intro-card">
            {{{content}}}
        </div>

        {{{footer}}}
    </body>
</html>