/** 

Table of Contents

1. General CSS
2. Navigation Bar
3. Title/What I do
4. Introduction/About
5. Skills
6. Certs
7. Work
8. Subscribe!
9. Footer
10. Media Queries

**/

/** General CSS **/

@import url('https://fonts.googleapis.com/css?family=B612&display=swap');

* {
    margin: 0;
    font-family: 'B612', sans-serif;
}

a {
    transition: 0.5s;
}

/** Navigation Bar **/

.overlay {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    background-color: rgba(7,55,99, 0.9);
    overflow-x: hidden;
    transition: 0.5s;
}
  
.overlay-content {
    position: relative;
    top: 25%;
    width: 100%;
    text-align: center;
    margin-top: 30px;
}
  
.overlay a {
    padding: 8px;
    text-decoration: none;
    font-size: 36px;
    color: #ccc;
    display: block;
    transition: 0.3s;
    line-height: 30px;
}
  
.overlay a:hover, .overlay a:focus {
    color: #fff;
}
  
.overlay .closebtn {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px;
}
  
@media screen and (max-height: 450px) {
    .overlay a {font-size: 20px}
    .overlay .closebtn {
        font-size: 40px;
        top: 15px;
        right: 35px;
    }
}
  
.menu-button {
    font-size:20px;
    cursor:pointer;
    float: right;
    margin: 20px;
    border-radius: 0px;
    border: 1px solid #ccc;
    color: #ccc;
    padding: 10px;
    line-height: 20px;
    transition: 0.5s;
}
  
.menu-button:hover {
    color: #073763;
    border-color: #ffffff;
    background-color: #fff;
}
  
.top-logo {
    width: 40px;
    height: 40px;
    margin: 20px;
}
  
.nav-logo {
    background-color: #073763;
    box-shadow:0 4px 8px 0 rgba(0,0,0,0.2),0 3px 10px 0 rgba(0,0,0,0.19);
}

/** Title/What I do **/

.top-section {
    text-align: center;
    line-height: 50px;
    background-color: #fff;
    background-image: url("images/pattern.png");
    padding-top: 100px;
    padding-bottom: 100px;
}

.top-section h1 {
    font-size: 30px;
}

.top-section p {
    font-size: 25px;
    font-weight: 10;
}

#mugshot {
    width: 200px;
    height: 200px;
    background-color: #073763;
    border-radius: 100px;
    box-shadow:0 4px 8px 0 rgba(0,0,0,0.2),0 3px 10px 0 rgba(0,0,0,0.19);
}

/** Introduction/About **/

#intro {
    background-color: #073763;
    color: #fff;
    padding: 100px;
    padding-bottom: 200px;
    line-height: 35px;
    border-top: 5px solid #ffdd4a;
}

#intro h1 {
    text-align: center;
    font-size: 30px;
}

.intro-text {
    width: 50%;
    margin: auto;
}

.intro-text p a {
    text-decoration: none;
    color: #ccc;
    border-bottom: 1px solid #ffdd4a;
}

.intro-text p a:hover {
    border-bottom: 1px solid #ffe05a;
    color: #fff;
}

/** Skills **/

#skills {
    background-color: #fff;
    width: 60%;
    margin: auto;
    margin-top: -100px;
    padding: 30px;
    display: flex;
    flex-direction: row;
    line-height: 35px;
    border: 1px solid #ccc;
    box-shadow:0 2px 4px 0 rgba(0,0,0,0.2),0 1.5px 5px 0 rgba(0,0,0,0.19);
}

.skill-card {
    width: 50%;
    text-align: center;
}

.skill-card h2 {
    color: #073763;
    font-size: 20px;
}

/** Certs **/

#certs {
    width: 60%;
    margin: auto;
    padding: 100px;
    line-height: 40px;
    margin-top: 70px;
}

#certs h1 {
    text-align: center;
    font-size: 30px;
}

#cert-cards {
    display: flex;
    flex-direction: row;
    text-align: center;
}

.cert-card {
    width: 50%;
    padding: 20px;
    margin: 20px;
    box-shadow:0 2px 4px 0 rgba(0,0,0,0.2),0 1.5px 5px 0 rgba(0,0,0,0.19);
}

.cert-card h2 {
    margin-bottom: 10px;
}

.cert-card img {
    width: 100%;
    align-self: vertical;
}

.cert-card p {
    line-height: 30px;
}

.cert-card b {
    color: #073763;
}

/** Work **/

#work {
    text-align: center;
    width: 60%;
    margin: auto;
    margin-top: 70px;
}

#work-cards {
    display: flex;
    flex-direction: row;
}

.work-card {
    margin: 20px;
    box-shadow:0 2px 4px 0 rgba(0,0,0,0.2),0 1.5px 5px 0 rgba(0,0,0,0.19);
    width: 33%;
    height: 200px;
    display: flex;
}

.work-card h2 {
    visibility: hidden;
    width: 100%;
    height: 100%;
    text-align: center;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.5s;
}

.work-card:hover {
    box-shadow:0 4px 8px 0 rgba(0,0,0,0.2),0 3px 10px 0 rgba(0,0,0,0.19);
}

.work-card:hover h2 {
    background-color: rgba(7, 55, 99, 0.9);
    visibility: visible;
}

.work-card a {
    text-decoration: none;
    color: #ccc;
    border-bottom: 2px solid #e8c944;
}

.work-card a:hover {
    border-bottom: 2px solid #ffdd4a;
    color: #fff;
}

.all-work {
    border: 2px solid #0c5395;
    margin: 10px;
    color: #0c5395;
    font-size: 20px;
    padding: 10px;
    transition: 0.5s;
}

.all-work:hover {
    background-color: #0c5395;
    color: #fff;
}

.all-work a {
    text-decoration: none;
    padding: 20px;
    border-bottom: none;
}

.preview {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: auto;
}

/** Subscribe! **/

.subscribe {
    background-color: #302949;
    padding: 2%;
    padding-top: 50px;
    padding-bottom: 50px;
    text-align: center;
    line-height: 35px;
}

.subscribe p {
    color: #fff;
}

.subscribe button {
    padding: 10px 20px 10px 20px;
    margin: 5px;
    font-size: 16px;
    background-color: #2b59c3;
    font-weight: 400;
    padding-left: 50px;
    padding-right: 50px;
    color: #fff;
    border: none;
    cursor: pointer;
    transition: 0.5s;
}

.subscribe button:hover {
    background-color: #0b5394;
}

.gh-input {
    padding: 10px 20px 10px 20px;
    margin: 5px;
    width: 400px;
    color: #fff;
    background-color: transparent;
    border: 1px solid #2b59c3;
    font-size: 16px;
}

.separator {
    background-color: #cccccc;
    width: 180px;
    height: 1px;
    margin: 15px auto 21px;
}

.separator span {
    background-color: #2b59c3;
    width: 30px;
    height: 4px;
    margin: 0px auto;
    display: block;
    position: relative;
    bottom: 2px;
}

/** Footer **/
.primary-footer {
    text-align: center;
    padding: 20px;
    background-color: #073763;
    color: #ccc;
}

.primary-footer a {
    text-decoration: none;
    color: #ccc;
    border-bottom: 1px solid #ffdd4a;
}

.primary-footer a:hover {
    color: #fff;
    border-bottom: 1px solid #ffe05a;
}

.secondary-footer {
    background-color: #0c5395;
    color: #ccc;
    padding: 20px;
    text-align: center;
}

.socials {
    margin: auto;
    text-align: auto;
}

.social-icon {
    width: 30px;
    border-radius: 20px;
    border: 1px solid #0c5395;
}

.social-icon:hover {
    border: 1px solid #ffdd4a;
}

/** Media Queries **/

@media (max-width: 1815px) {
    #work {
        width: 70%;
    }
}

@media (max-width: 1669px) {
    #certs {
        text-align: center;
        width: 80%;
        padding: 0;
    }
}

@media (max-width: 1493px) {
    #work {
        width: 85%;
    }
}

@media (max-width: 1285px) {
    #work {
        width: 95%;
    }
}

@media (max-width: 1209px) {
    .intro-text {
        width: auto;
    }
}

@media (max-width: 1103px) {
    #work {
        width: 100%;
    }
}

@media (max-width: 1063px) {
    #work-card-row {
        flex-direction: column;
        padding: 0;
    }

    .work-card {
        width: 80%;
        height: 15em;
        margin: auto;
        margin-top: 20px;
    }
}

@media (max-width: 973px) {
    #skills {
        margin: 10px;
        margin-bottom: 20px;
        margin-top: -100px;
        width: auto;
    }

    #certs {
        text-align: center;
        width: 100%;
        padding: 0;
    }

    #cert-cards {
        flex-direction: column;
        margin: auto;
    }

    .cert-card {
        width: auto;
    }
}

@media (max-width: 661px) {
    #skills {
        flex-direction: column;
    }

    .skill-card {
        margin: 30px;
        width: 100%;
        border: none;
    }
}

@media (max-width: 567px) {
    #intro {
        padding: 100px 50px 100px 50px;
    }

    #skills {
        margin-top: -50px;
    }
}

@media (max-width: 465px) {
    #intro {
        padding: 40px 20px 40px 20px;
    }
    #skills {
        margin-top: -20px;
    }
}

@media (max-width: 455px) {
    .gh-input {
        width: auto;
    }
}

@media (max-width: 300px) {
    .intro-text {
        width: auto;
    }
}